# Group Activity

1. Lookup information on geometric mean and harmonic mean to answer the following
questions:

a. In a jupyter notebook create a markdown section for each of the three concepts:
arithmetic mean, geometric mean, and harmonic mean

b. Write a definition for arithmetic mean, geometric mean, and harmonic mean,
under their respective headings

c. Write a code example for arithmetic mean, geometric mean, and harmonic mean
using the Belize Airbnb data in a cell under the each respective summary in
markdown

In [43]:
# Dependencies and modules

import numpy as np
import pandas as pd
import math
import statistics
from statistics import harmonic_mean
from scipy import stats
from scipy.stats.mstats import gmean
import matplotlib.pyplot
pd.options.display.float_format = '${:,.2f}'.format

In [2]:
belize_listings_path = "C:/Users/Nik/Documents/belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

## Arithmetic Mean

This is the value of average that we use in our daily lives. It is computed by taking the sum of all values and dividing by the number of all values.

In [15]:
avg_price_per_neighbourhood = pd.DataFrame(belize_df.groupby('neighbourhood')['price'].mean())
avg_price_per_neighbourhood.columns = ['Average Price'] 
avg_price_per_neighbourhood

                      Average Price
neighbourhood
Belize Islands              $399.44
Belize Mainland             $288.27
Cayo                        $205.85
Corozal                     $156.55
Orange Walk                 $122.04
Stann Creek Islands       $1,136.17
Stann Creek Mainland        $456.99
Toledo Mainland             $222.98

## Geometric Mean

The geometric mean is the average rate of return of a set of values calculated using the products of the terms. This is useful in calculating the average of nonlinear data or when the data is multiplicative. Geometric means will always be slightly smaller than the arithmetic mean, which is a simple average.

In [29]:
# Here is an example of code to find the geometric mean of data in a dataframe. Geometric mean is best used for 
# multiplicative or data that has a nonlinear relationship. There really isn't a fantastic practical reason to find the 
# geometric mean of prices of Belize AirBnBs, but this will at least demonstrate syntax:

#You need to import statistics from scipy
geometric_mean = gmean(belize_df['price'])
result = "${:,.2f}". format(geometric_mean) # <-- Just formatting my output as currency
print(result)

$234.73

## Harmonic Mean

Harmonic mean is best used to calculate average units such as speed, rates and ratios. Of all the Pythagorean means, it has the least value and is the truest average.

In [116]:
# Again, there isn't a very compelling reason to find the harmonic_mean of Belize AirBnB prices. Harmonic mean
# is great for more accurately describing the mean between rates, like speed or rate. Here, however, is an example
# of code needed to find the harmonic mean:

#You need to import statistics
# Also, harmonic mean calculations will not work on anything but positive integers, so I first need to clean my data by
# dropping null or 0 values from my column:

clean_data = pd.DataFrame(belize_df['availability_365'])
len(clean_data) #<-- Checking how many rows there are in base column. There are 1810.

a_series = (clean_data != 0).any(axis=1)
cleaner_data = clean_data.loc[a_series] # Cleaning out rows with 0 values.
len(cleaner_data) #<-- Checking how many rows there are now. There are 1707. This indicates 
                    #that I cleaned out some 0 values that would have broken my calculation.
cleanerer_data = cleaner_data.dropna() # <- Here I'm dropping any Null or NaN values.
len(cleanerer_data) #<-- Checking how many rows there are now. There are still 1707. I didn't 
                    #clean anything with that last command, but it is still good practice.
#When I get to this point, I can't get around the following error message:
#C:\Python39\lib\statistics.py in _fail_neg(values, errmsg)
#     286     """Iterate over values, failing if any are less than zero."""
#     287     for x in values:
# --> 288         if x < 0:
#     289             raise StatisticsError(errmsg)
#     290         yield x

# TypeError: '<' not supported between instances of 'str' and 'int'
    
#However, converting my DataFrame to a Series fixes this, even tho converting to int does not:    
cleanest_data = cleanerer_data.squeeze()
   
harmonic_mean(cleanest_data)

36.85579401854412

## 2. Write a function to sort several subsequent inputs alphabetically.
For example, if you first input ‘banana’ and next input ‘apple’, the first time [‘banana’] will be the output but the second time [‘apple’,’banana’] will be the output. The results should be stored until you restart your kernel.

In [14]:
w = []   # Here I make a global, empty list

def alphabetize_me(*args): # Here I begin to define my funtion
    for items in args:  # *args
        w.append(items)
        w.sort()
    return w

alphabetize_me('caution')

['caution']

In [15]:
alphabetize_me('superstar')

['caution', 'superstar']

In [16]:
alphabetize_me('bearded')

['bearded', 'caution', 'superstar']

In [17]:
alphabetize_me('monotone')

['bearded', 'caution', 'monotone', 'superstar']